*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --text-color: #161c2d;
  --bg-color: #fff;
  --version-color:#fff;
  --version2-color:#ced4e6;
  --link-color:#161c2db3;
}
.dark{
  --text-color: #fff;
  --bg-color:#161c2d;
  --version-color:#ced4e6;
  --version2-color:#fff;
  --link-color:#ffffffb3;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin-top: 76px;
}
ul{
  list-style-type: none;
}
.header-logo{
  text-decoration: none;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: var(--text-color);
  font-size: 24px;
}
.site-header{
  padding: 8px 30px;
  position: fixed;
  width: 100%;
  height: 76px;
  top: 0;
  background-color: var(--bg-color);
  z-index: 20;
}
.nav-item{
  padding: 18px;
  font-size: 15px;
  color: var(--text-color);
  font-weight: 700;
  line-height: 24px;
  text-transform: lowercase;
  transition: color 0.5s ease;
}
.nav-link{
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.5s ease;
}
.dropdowm-content{
  width: 130%;
  position: absolute;
  z-index: -10;
  top: 120%;
  right: 0;
  background-color: #fff;
  box-shadow: rgb(3 3 3 / 12%) 0px 32px 54px;
  padding:20px 30px;
  border: 1px solid #bbbbbb7a;
  border-top: 3px solid #485eee;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
}
.hover-box{
  position: relative;
}
.hover-box:hover .dropdowm-content{
  opacity: 1;
  position: absolute;
  top: 100%;
  z-index: 10;
}
.nav-item:nth-child(2){
  position: relative;
  z-index: 10;
}
.nav-item:nth-child(2) .dropdowm-content{
 width: 160%;
}
.nav-item:nth-child(2):hover .dropdowm-content{
  opacity: 1;
  top: 100%;
}
.drowdown-link{
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 14px;
  color: #161c2d;
}
.drowdown-link:hover{
  color: #485eee;
}
.dropdown-item:not(:last-child){
  margin-bottom: 15px;
}
.nav-item:hover{
  color: #485eee;
}
.nav-link:hover{
  color: #485eee;
}
.nav-item:nth-child(1):hover .bx{
  transform: rotate(-180deg);
}
.nav-item:nth-child(2):hover .bx{
  transform: rotate(-180deg);
}
.nav-item:nth-child(1) .bx{
 transition: 0.5s ease;
}
.nav-item:nth-child(2) .bx{
  transition: 0.5s ease;
}
.bx-chevron-down{
  font-size: 22px;
  margin: 0px 10px;
}
.mode-btn{
  background-color: #485eee;
  width: 30px;
  height: 50px;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  outline: none;
  position: relative;
}
.mode-btn .bx{
  font-size: 30px;
  color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.mode-version{
  position: fixed;
  right: 0;
  top: 30%;
  z-index: 10;
}
.version-box{
  border: transparent;
  width: 185px;
  text-align: center;
  border-bottom-left-radius: 25px;
  width: 0;
  height: 100px;
  position: relative;
  background-color: #485eee;
  overflow: hidden;
}
.dark-background{
  background-color: #3b404d;
}
.show{
  width: 160px;
}
.version-text{
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.09px;
  line-height: 26px;
  padding-bottom: 8px;
  padding: 10px 13px;
}
.version-btns{
  width: 126px;
  margin: 0px 20px;
  box-shadow: rgba(77, 76, 76, 0.5) 0px 2px 8px 0px;
  border-radius: 50px;
}
.version-btn{
  height: 42px;
  border: none;
  cursor: pointer;
  width: 50%;
  font-size: 11px;
  font-weight: 700;
  line-height: 42px;
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 1.38px;
  text-transform: uppercase;
  outline: none;
  color: #161c2d;
}
.version-btn:nth-child(1){
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  background-color: var(--version2-color);
}
.version-btn:nth-child(2){
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  background-color: var(--version-color);
}
.rotate{
 transform: rotate(-180deg);
}
.container{
  width: 1140px;
}
.hero-part{
  padding: 100px 0px;
}
.hero-inner{
  padding: 0px 15px;
}
.hero-text{
  font-size: 13px;
  line-height: 1.63;
  letter-spacing: 1.63px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.hero-title{
  font-size: 80px;
  line-height: 84px;
  font-weight: 700;
  letter-spacing: -3px;
  margin-bottom: 50px;
}
.hero-desc{
  width: 665px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #485eee;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  padding: 23px 30px;
  border-radius: 50rem;
  display: inline-flex;
  width: 234px;
  box-shadow: rgb(3 3 3 / 12%) 0px 32px 54px;
  transition: all 0.4s ease-out 0s;
}
.hero-btn .bx-right-arrow-alt{
  font-size: 26px;
  width: 18px;
  height: 12px;
  position: relative;
  bottom: 4px;
}
.hero-btn span{
  margin-right: 18px;
}
.hero-btn:hover{
  transform: translateY(-10px);
}
.title-link{
  text-decoration: none;
  font-size: 13px;
  line-height: 1.63;
  letter-spacing: 1.63px;
  color: var(--link-color);
  font-weight: 700;
}
.active .title-link{
  color: #485eee;
}
.tilte-item{
  margin-right: 40px;
}
.grid-box1{
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 210px 280px 210px 430px;
}
.wrapper{
  margin: 50px 0px 50px 15px;
}

.grid-box2{
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 430px 210px 280px;
  
}
.box-img{
  width: 90%;
  height: 85%;
}
.box-img2{
  width: 90%;
  height: 92%;
}
.box-content{
  position: relative;
 display: flex;
 flex-direction: column;
 align-items: center;
}
.box-content2{
  position: relative;
 display: flex;
 flex-direction: column;
 align-items: center;
}
.box-desc{
  position: absolute;
  bottom: 14%;
  width: 70%;
  background-color: var(--bg-color);
  padding: 15px 40px;
  margin: 0 auto;
  opacity: 0;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.box-img2 ~ .box-desc{
  bottom: 4%;
}
.box-par{
  font-size: 13px;
  line-height: 1.63;
  letter-spacing: 1.6px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--link-color);
  margin-bottom: 8px;
}
.box-heading{
  font-size: 23px;
  font-size: 1.3125rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1;
  color: var(--text-color);
}
.box-heading:hover{
  color: #485eee;
}
.box-content:hover .box-desc,
.box-content2:hover .box-desc{
  bottom: 24%;
  opacity: 0.9;
}
.box-content2:hover .exclude{
  bottom: 14%;
}
.projects{
  padding: 100px 0px;
  text-align: center;
}
.projects-title{
  font-size: 13px;
  line-height: 1.63;
  letter-spacing: 1.6px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom:50px;
}
.projects-title::before{
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #55b381;
  border-radius: 50%;
  margin-right: 13px;
}
.projects-heading{
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -2.5px;
  color: var(--text-color);
  margin-bottom: 50px;
}
.projects-btn{
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background-color:  #55b381;
  padding: 23px 30px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.6px;
  box-shadow: rgb(3 3 3 / 12%) 0px 32px 54px;
  border-radius: 50rem;
  color: #fff;
  transition: all 0.4s ease-out 0s;
}
.bxs-message-rounded-dots{
  font-size: 20px;
  line-height: 16px;
  position: relative;
  top: 4px;
  margin-right: 20px;
}
.projects-btn:hover{
  transform: translateY(-10px);
}
.copyright{
  text-align: center;
  padding: 40px 0px;
  margin-bottom: 30px;
}
.copyright-text{
  font-size: 12px;
  font-weight: bold;
  color: var(--text-color);
}
.page-box{
  width: 200px;
  background-color: #ccc;
  position: absolute;
  opacity: 0;
  top: 150%;
  z-index: -1;
  transition-duration: 0.4s;
  transition-property: top,opacity;
}
.hover-box:hover .page-box{
  opacity: 1;
  top: 100%;
  z-index: 10;
}